body {
  background-color: rgba(100, 100, 100, 1);
  font-family: Palatino, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  margin-top: 2vh;
}

nav {
  background-color: rgba(100, 100, 100, 1);
  color: rgba(200, 200, 200, 1);
  height: 50px;
  min-width: 600px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav > * {
  margin: 10px;
  float: left;
}

nav > ul {
  float: right;
  list-style: none;
}

li {
  float: left;
  margin: 8px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s;
}

a:hover {
  color: white;
}

#jqps {
  top: 50px;
  font-size: 3vw;
}

#fade {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 80%;
}

#fade img {
  width: 50%;
}

footer {
  text-align: center;
  color: rgb(255, 255, 175);
  margin-bottom: 10px;
}

/* custom styling added */
.content {
  margin: 20px;
}

.content > p {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin-top: 500px;
}

.content > p:nth-of-type(1) {
  margin-top: 100vh;
}
